[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "greatR"]
	path = greatR
	url = https://github.com/ruthkr/greatr
	shallow = true
	registered = true
